<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Login con Node </title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin shadow-lg p-3 mb-5">
        <form id="formLogin " action="/login" method="POST">
            <img class="mb-4" src="img/logo.svg " alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="user" name="user" placeholder="User">
                <label for="user">Ingresa usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                <label for="pass">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg btn-warning" type="submit"> Iniciar </button>
        </form>
        <br>
        <a type="button" class="w-100 btn btn-lg btn-primary" href="register"> Registrarse</a>
    </main>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
      }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
        <% } %>
</body>

</html>